# Configure Git LFS for all files over 150 MB
*.[!.][!.][!.]* filter=lfs diff=lfs merge=lfs -text size=150MB

# Specific file types always handled by Git LFS
*.psd filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
